<html >
<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">

</head>
<body class="background">
  <div >
  <div class="overlay">
      <div class="top"> 
     
        <img src="assets/images/icons8-facebook.svg" alt="Icon" alt="Clickable Image"  class="face" width="66px">
        <img src="./assets/images/gaiailogolast.png" alt="Cafe Logo" class="Logo">
        <img src="assets/images/icons8-instagram.svg" alt="Icon" alt="Clickable Image"  class="insta"width="66px">
        <!-- <h1 class="Title">Café-Pizzeria</h1> -->
      </div>
    

       <div class="categories1">
          <div class="Container1" ><img src="/assets/images/burger&sandwich.png" class="iconee1"alt="Clickable Image" > <p class="des">  BURGER & Sandwish </p>
          </div>
          <div  class="Container1"><img src="/assets/images/petitdej3pict.png"class="iconee1" alt="Clickable Image" > <p class="des">  Petit D ejuner </p>
          </div>
        </div>

        <div class="categories2">
            <div  class="Container2"><img src="/assets/images/cake.gaufre.creps...png" class="iconee3" alt="Clickable Image" > 
            </div><br>
          <p class="des2">  Pour une petite faim </p>
        </div>

       <div class="categories1">
          <div class="Container3" ><img src="/assets/images/pizaalast2.png" class="iconeepizaaa"alt="Clickable Image" > <p class="des">Nos  Pizza </p>
          </div>
          <div  class="Container3"><img src="/assets/images/pLATSS.png"class="iconee0" alt="Clickable Image" > <p class="des">  Nos Plats </p>
          </div>
        </div>

       <div class="categories4">
            <div  class="Container4"><img src="/assets/images/gateuuux.png" class="iconee3" alt="Clickable Image" > 
            </div><br>
            <p class="des2">   Nos Douceurs Sucrees</p>
        </div>
      
<!--     
        <div class="image">
          <img src="assets/images/lastforlegarage.svg" alt="SVG Image" class="lastforlegarage" />
        </div> -->
    </div>
  <div class="BY"> by Chlack Chlack</div>
  </div>
  
  </body>
  </html>
  
