<div class="main">
  <div class="header">
    <img src="assets/images/icons8-facebook.svg" class="logo">
    <img src="./assets/images/gaiailogolast.png">
    <img src="assets/images/icons8-instagram.svg" class="logo">
  </div>
  <div class="body">
    <div class="multicategories">
      <div class="Container">
        <div class="containerImage">
          <img src="/assets/images/burger&sandwich.png" (click)="navigateToMenus('Burgers & Sandwichs')">
        </div>
        <div class="ContainerTitle">
          <p> Burger & Sandwish </p>
        </div>
      </div>
      <div class="Container">
        <div class="containerImage">
          <img src="/assets/images/petitdej3pict.png" (click)="navigateToMenus('Petit Déjeuner')">
        </div>
        <div class="ContainerTitle">
          <p> Petit Déjeuner </p>
        </div>
      </div>
    </div>

    <div class="monocategorie">
      <div class="Container">
        <div class="containerImage">
          <img src="/assets/images/cake.gaufre.creps...png" (click)="navigateToMenus('Pour une petite faim')">
        </div>
        <div class="ContainerTitle">
          <p> Pour une petite faim </p>
        </div>
      </div>
    </div>

    <div class="multicategories">
      <div class="Container">
        <div class="containerImage">
          <img src="/assets/images/pizaalast2.png" (click)="navigateToMenus('Nos Plats')">
        </div>
        <div class="ContainerTitle">
          <p>Nos Pizza </p>
        </div>
      </div>
      <div class="Container">
        <div class="containerImage">
          <img src="/assets/images/pLATSS.png" (click)="navigateToMenus('Nos Plats')">
        </div>
        <div class="ContainerTitle">
          <p> Nos Plats </p>
        </div>
      </div>
    </div>

    <div class="monocategorie">
      <div class="Container">
        <div class="containerImage">
          <img src="/assets/images/gateuuux.png" (click)="navigateToMenus('Burgers & Sandwichs')">
        </div>
        <div class="ContainerTitle">
          <p>Nos Douceurs Sucrees</p>
        </div>
      </div>
    </div>

       <div class="multicategories">
         <div class="Container">
        <div class="containerImage">
          <img src="/assets/images/" (click)="navigateToMenus('Nos Plats')">
        </div>
        <div class="ContainerTitle">
          <p> Nos Plats </p>
        </div>
      </div>
      <div class="Container">
        <div class="containerImage">
          <img src="/assets/images/chichhaaa1.png" (click)="navigateToMenus('Our Chicha')">
        </div>
        <div class="ContainerTitle">
          <p>Nos Chicha </p>
        </div>
      </div>
     
    </div>
  </div>
</div>