<div ></div>
<div class="main">
  <div>
    <h1>{{ FamilleName }}</h1>
    <hr style="height: 2px; margin: 4px 0px;">
    <hr style="height: 2px; margin: 4px 0px; ">
    <div  class="cont"*ngFor="let category of filteredCategorie">
      <h3  class="categorietitle"*ngIf="category.name != FamilleName">{{ category.name }}</h3>

      <div class="container"*ngFor="let product of filteredProducts">
        <div class="productTitle">
          <div style="width: 65%;">
            <p class="namme">{{ product.name }}</p>
          </div>
          <div style="width: 35%;" class="prrrixcontainer">
            <p class="priix">{{ product.prix }} TND</p>
          </div>
        </div>
        <p class=" dess">{{ product.description }}</p>
      </div>
      <hr style="height: 1.5px;">
    </div>
  </div>
</div>