<div class="background-image"></div>
<div class="main">
  <div *ngFor="let famille of Famille">
    <h1>{{ famille.famillename }}</h1>
    <hr style="height: 2px; margin: 4px 0px;">
    <hr style="height: 2px; margin: 4px 0px;">
    <div *ngFor="let categorie of famille.Categories">
      <h3>{{ categorie.categoriename }}</h3>

      <div *ngFor="let product of categorie.Products">
        <div class="productTitle">
          <div>
            <h6>{{ product.productName }}</h6>
          </div>
          <div>
            <h6>{{ product.priceproduct }}</h6>
          </div>
        </div>
        <p>{{ product.descriptionProduct }}</p>
      </div>
      <hr style="height: 1.5px;">
    </div>
  </div>
</div>